spring:
  application:
    name: userservice

  datasource:
    url: jdbc:mysql://localhost:3306/fitnessapp_users
    username: root
    password: password

  jpa:
    hibernate:
      ddl-auto: update

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
